.classselector
{
    background-color: blueviolet;
}
#idselector
{
    background-color:cornflowerblue;
}
*
{
    background-color:aliceblue;
}
h1,h2{
    background-color:coral;
}
div p{
    color:crimson;
}
span{
    color:blueviolet;
}
div > span{
    color:hotpink;
}
h1+p{
    color:orange;
}
h1~p{
    color:violet;
}
input[type="text"]
{
    background-color:deeppink;
}